<script type="text/javascript">//<![CDATA[
XHR.poll(3,'<%=url([[admin]],[[services]],[[dnsfilter]],[[run]])%>',null,
	function(x,data){
		var tb=document.getElementById('dnsfilter_status');
		if (data&&tb){
			if (data.running){
				tb.innerHTML='<em><b><span style="color:green">DNS Filter <%:CONFIGURED%></span></b></em>';
			}else{
				tb.innerHTML='<em><b><span style="color:red">DNS Filter <%:NOT CONFIGURED%></span></b></em>';
			}
			if (data.testdns){
				tb.innerHTML+='<em><b> | <span style="color:green"><%:DNS Status%> <%:CHECK OK%></span></b></em>';
			}else{
				tb.innerHTML+='<em><b> | <span style="color:red"><%:DNS Status%> <%:ERROR DETECTED%></span></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10{margin-left:50px;margin-right:10px;}</style>
<fieldset class="cbi-section">
	<p id="dnsfilter_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
